html,body{
    padding-bottom: 70px;  
    margin: 0px;
    background-image: url('../../assets/images/round.png');     
}

/****** HEADER *******/

#title_h1{
    font-family: 'Patua One', cursive;
    font-size: 20px; 
    background-color: #007a7a;
    color: #ffffff;
    padding: 40px;
    margin: 0;
    font-size: 30px;
}

ul{
    padding-top: 40px;
    padding-bottom: 25px;
}

li{
    font-family: 'Patua One', cursive;
    font-size: 20px; 
    display: inline;
    border-right: 1px solid #dddddd; 
    padding-left: 20px;   
    padding-right: 20px; 
    color: #777777;  
}

li:last-of-type{
    border-right: none;
    padding-right: 0px;
}

a:hover{
    color: #777777;
}

/****** CONTENT *******/
#subtitles{
    font-family: 'Arimo', sans-serif;
    font-size: 22px;
    color: #003f5a; 
    padding: 15px;
    border-bottom: 3px solid #dddddd; 
    margin: 15px;
    font-weight: bold;
}


p{
    margin: 20px;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    color: #777777;    
    line-height: 2;
}

/****** FORM *******/
label{
    color: #666666;
}

#submit{
    background-color: #007a7a;
    color: #ffffff;
    width: 112px;
    height: 41px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/****** PORTFOLIO CONTENT *******/
.p_portfolio{
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
}

#portfolio_image{
    max-width: 100%;
    /*width: 300px;*/
    margin-top: 5%;
    margin-bottom: 5%;
}

.porfolio_h3{
    color: #003f5a; 
}

/****** CONNECT WITH ME *******/
#connect_image{
    max-width: 29%;
    width: 92px;
    display: inline;
    text-align: left;
    padding-left: 34px;
}



/****** FOOTER *******/
footer{
    background-color: #003f5a;
    border-top: 10px solid #007a7a;
    padding: 30px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    color: #dfdfdf;
    text-align: center;
}